p {
  margin: 0;
}

footer {
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: #182c3c;
  position: static;
  bottom: 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContatoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
}

.footerSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerContato img {
  width: 50px;
}

.footerInferior {
  display: flex;
  width: 100%;
  height: 90px;
}

.footerSocial {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #de003c;
  width: 50%;
  height: 90px;
}

.footerLogo img {
  margin-right: 1em;
}

.footerResto {
  background-color: #182c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}

.footerContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}

.footerEmail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.footerEmail a {
  margin: 1em;
  text-decoration: none;
  color: white;
}

.footerWhatsPrincipal {
  display: flex;
  justify-content: start;
  width: 100%;
}

.footerWhats {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footerWhatsDados {
  justify-content: start;
  margin: 1em;
}

.footerWhatsDados a {
  text-decoration: none;
  color: white;
}

.footerWhatsDados h4 {
  margin-bottom: 10px;
}

.footerLocalizacao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--white-color);
}

.footerMapa {
  width: 80%;
  height: 80%;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.footerMenu {
  color: white;
  text-decoration: none;
}

.footerList {
  cursor: pointer;
  list-style: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.footerList li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLocalizacao img,
.footerEmail img,
.footerWhatsPrincipal img {
  max-width: 40px;
}

.footerSocial img {
  width: 100%;
}
.footerText {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
.footerText p {
  color: white;
  font-family: "Roboto";
}

.imgFooter {
  display: inline;
}

@media (max-width: 650px) {
  .footerLogo img {
    width: 50%;
  }
  .footerWhatsDados,
  .footerEmail a {
    margin: 0.5em;
  }
}

@media (max-width: 500px) {
  .footerSuperior,
  .footerEmail,
  .footerWhatsPrincipal,
  .footerWhatsDados {
    flex-direction: column;
    justify-content: space-around;
  }
  .footerEmail,
  .footerWhatsPrincipal,
  .footerWhatsDados {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerLinks {
    justify-content: space-around;
    margin: 2em;
  }
  .footerList {
    margin: 1em;
  }
  .footerContatoHeader {
    height: 100px;
  }
  .footerLocalizacao {
    margin-bottom: 2em;
  }
  .footerText p {
    font-size: 0.8em;
  }
  .footerMapa {
    height: 100%;
  }
}
