* {
  --rhino-color: #243746;
  --bg-color: white;
  --red-ribbon-color: #dc0b44;
  --white-color: white;
  --iron-color: #cecfd0;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/fundo.png");
  background-position: center;
  background-color: var(--rhino-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.noticiasContainer {
  width: 100%;
}

.cardMembros {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  width: 90%;
  place-items: center;
  margin-top: 1em;
}

.infoMembros {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.membrosCPA {
  width: 300px;
  height: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--rhino-color);
  background-color: var(--iron-color);
  font-size: 22px;
  border-radius: 15px;

  -webkit-box-shadow: 18px 19px 33px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 19px 33px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 19px 33px -15px rgba(0, 0, 0, 0.75);
}

.membrosCPA:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.membrosCPA button {
  border-radius: 15px;
  width: 10em;
  height: 2.5em;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: 2px solid var(--rhino-color);
  background-color: var(--red-ribbon-color);
}

.membrosCPA button:hover,
.buttons button:hover {
  color: var(--iron-color);
  background-color: var(--rhino-color);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.membrosCPA:not(:hover),
.membrosCPA button:not(:hover),
.buttons button:not(:hover) {
  transition: ease-in 0.2s;
}

.membrosCPA img {
  width: 100%;
  min-height: 300px;
  border: 3px solid var(--rhino-color);
  border-radius: 15px;
}

.cardInfo {
  width: 90%;
  min-height: 600em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.membrosInfo {
  max-width: 700px;
  min-height: 480px;
  border-radius: 25px;
  border: 2px solid var(--rhino-color);
  background-color: var(--iron-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top img {
  width: 80%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  border: 3px solid var(--rhino-color);
  border-radius: 15px;
  position: relative;
  top: -30px;
  left: -30px;
  flex: 1;
}

.top {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.info :nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}

.nome {
  font-size: 26px;
  text-align: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 60%;
  width: 100%;
  padding: 1em 0;
  gap: 1em;
}

.bottom p {
  width: 90%;
}

.buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons button {
  border-radius: 25px;
  width: 100%;
  max-width: 150px;
  height: 2.5em;
  font-size: 16px;
  color: white;
  border: 2px solid var(--rhino-color);
  background-color: var(--red-ribbon-color);
}

.sobre {
  display: flex;
  width: 80%;
  margin-top: 1em;
  background-color: #cecfd0;
  font-size: 16px;
  line-height: 1.5em;
  padding: 1em;
  border: solid 2px #dc0b44;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.objetivos {
  display: flex;
  width: 80%;
  margin-top: 1em;
  background-color: #cecfd0;
  font-size: 16px;
  line-height: 1.5em;
  padding: 1em;
  border: solid 2px #dc0b44;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.objetivos ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 1em;
}

@media (max-width: 768px) {
  .cardMembros {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .membrosCPA {
    width: 200px;
    height: 300px;
  }

  .membrosCPA img {
    min-height: 200px;
  }

  .membrosCPA button {
    width: 8em;
  }

  .top {
    flex-direction: column;
  }

  .top img {
    top: -20px;
    left: 0;
  }

  .membrosCPA p {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .cardMembros {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .membrosCPA {
    width: 150px;
    height: 250px;
  }

  .membrosCPA button {
    width: 7em;
    font-size: 14px;
  }

  .membrosCPA p {
    font-size: 16px;
  }

  .membrosCPA img {
    min-height: 150px;
  }

  .bottom p {
    text-align: center;
    font-size: 14px;
  }

  .top img {
    width: 60%;
  }

  .buttons button {
    width: 40%;
    height: 2em;
    font-size: 14px;
  }
}

@media (max-width: 310px) {
  .cardMembros {
    place-items: center;
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 9999;
}

.scroll-to-top:before {
  content: "\2191";
  /* Unicode character for an upward arrow */
  font-size: 20px;
}

/* Show the arrow when the user has scrolled 300px down */
@media screen and (min-height: 300px) {
  .scroll-to-top {
    display: block;
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.scroll-to-top:before {
  content: "\2191";
  /* Unicode character for an upward arrow */
  font-size: 24px;
}

.scroll-to-top:hover {
  background-color: #555;
}

/* Show the arrow when the user has scrolled 300px down */
@media screen and (min-height: 300px) {
  .scroll-to-top {
    display: block;
  }
}
