* {
  --rhino-color: #243746;
  --bg-color: white;
  --red-ribbon-color: #dc0b44;
  --white-color: white;
  --iron-color: #cecfd0;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--rhino-color);
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.noticiasContainer {
  width: 100%;
}

.cardMembros {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  gap: 2em;
  width: 100%;
  place-items: center;
  margin-top: 1em;
}

.membrosCPA {
  width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 3px solid var(--rhino-color);
  background-color: var(--iron-color);
  font-size: 22px;

  border-radius: 15px;
}
.membrosCPA:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.membrosCPA:not(:hover) {
  transition: ease-in 0.2s;
}

.membrosCPA button {
  margin-bottom: 1em;
  border-radius: 15px;
  width: 10em;
  height: 2.5em;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: 2px solid var(--rhino-color);
  background-color: var(--red-ribbon-color);
}

.membrosCPA button:hover{
  color: var(--iron-color);
  background-color: var(--rhino-color);
  transition: background-color 0.5s;

}

.membrosCPA img {
  width: 100%;
  height: 60%;
  border: 3px solid var(--rhino-color);
  border-radius: 15px;
}

/* parte 2 */
.cardInfo {
  width: 90vw;
  min-height: 600em;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.membrosInfo {
  max-width: 700px;
  min-height: 480px;
  border-radius: 25px;

  border: 2px solid var(--rhino-color);
  background-color: var(--iron-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.top img {
  width: 20em;
  height: 20em;
  border: 3px solid var(--rhino-color);
  border-radius: 15px;

  position: relative;
  top: -30px;
  left: -30px;
  flex: 1;
}
.top {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.info :nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}
.nome {
  font-size: 26px;
  text-align: center;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60%;
}
.bottom p {
  padding: 2em;
}
.buttons {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buttons button {
  margin-bottom: 1em;
  border-radius: 25px;
  width: 10em;
  height: 2.5em;
  font-size: 16px;
  color: white;
  border: 2px solid var(--rhino-color);
  background-color: var(--red-ribbon-color);
}
.buttons :nth-child(1) {
  background-color: var(--rhino-color);
}

@media (max-width: 768px) {
  .cardMembros {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .membrosCPA {
    width: 200px;
    height: 300px;
  }
  .membrosCPA img {
    width: 100%;
    border: 3px solid var(--rhino-color);
    border-radius: 15px;
  }
  .membrosCPA button {
    width: 8em;
    height: 2em;
  }
  .top {
    flex-direction: column;
  }
  .top img {
    top: -20px;
    left: 0;
  }
}

@media (max-width: 425px) {
  .cardMembros {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .membrosCPA {
    width: 150px;
    height: 250px;
  }
  .membrosCPA img {
    width: 100%;
    border: 3px solid var(--rhino-color);
    border-radius: 15px;
  }
  .membrosCPA button {
    width: 8em;
    height: 2em;
  }
  .membrosCPA p {
    font-size: 18px;
  }
}

@media (max-width: 310px) {
  .cardMembros {
    place-items: center;
  
  }
}